<!DOCTYPE HTML>
<html>
  <head>
    {{template "html_head"}}
    <title>Auto-Form Filler - Add Auto</title>
    
  </head>
  
  <body style="background-color: #f0f0f0;">
    
    {{template "navbar"}}
    
    <div class="container">
      <div id="page-title" class="text-center mt-4">
	<h1>
	  Auto-Form Filler - Add Auto
	</h1>
      </div>
      
      <div class="row">
	<div>
	  <form class="form" action="" method="post">
	    <div class="form-label-group">
	      <label for="vin">Vehicle Id Number (VIN): </label>
	      <input type="text" name="vin" id="vin">
	    </div>

	    <div class="form-label-group">
	      <label for="year">Model Year: </label>
	      <input type="text" name="year" id="year">
	    </div>

	    <div class="form-label-group">
	      <label for="make">Vehicle Make:  </label>
	      <input type="text" name="make" id="make">
	    </div>

	    <div class="form-label-group">
	      <label for="model">Vehicle Model:  </label>
	      <input type="text" name="model" id="model">
	    </div>

	    <div class="form-label-group">
	      <label for="price">Purchase Price:  </label>
	      <input type="text" name="price" id="price">	    
	    </div>

	    <div class="form-label-group">
	      <label for="date">Date of Sale:  </label>
	      <input type="date" name="date" id="date">
	    </div>

	    <div class="form-label-group mt-2">
	      <label for="customer">Customer:  </label>
	      <select name="customer" id="customer">
		<option value="">Select Customer</option>
	      </select>
	    </div> 

	    <button class="btn btn-primary" type="submit">Add Automobile</button>
	  </form>
	</div>
      </div>
    </div>
  </body>
</html>
