<!DOCTYPE HTML>
<html>
  
  <body style="background-color: #f0f0f0;">
    
    
    <div class="container">
      <div id="page-title" class="text-center mt-4">
	<h1>
	Add Auto
	</h1>
      </div>
      
      <div class="row">
	<p>
	This is the add auto page
	</p>
      </div>
    </div>
  </body>
</html>
