<!DOCTYPE HTML>
<html>
  <head>
    {{template "html_head"}}
    <title>New Customer - Add Customer</title>
  </head>
  
  <body>
    
    {{template "navbar"}}
    
    <div class="container p-1">
      <div id="page-title" class="text-center mt-4">
	<h1 id="title">
	  New Customer Form
	</h1>
      </div>
      
      <div class="text-center mt-4">
	<p>
	  Please fill in the information below. All fields are required. After you create a customer, create an auto to generate paperwork.
	</p>
      </div>
      
      <div class="row justify-content-center m-3 p-2">
	
	<form class="form w-25" action="/add-customer" method="post">

	  <div class="form-label-group mb-1">
	    <label for="first_name">First Name: </label>
	    <input type="text" name="first_name" id="first_name" class="form-control" required>
	  </div>

	  <div class="form-label-group mb-1">
	    <label for="last_name">Last Name: </label>
	    <input type="text" name="last_name" id="last_name" class="form-control" required>
	  </div>

	  <div class="form-label-group mb-1">
	    <label for="address">Street Address: </label>
	    <input type="text" name="address" id="address" class="form-control" required>
	  </div>

	  <div class="form-label-group mb-1">
	    <label for="city">City: </label>
	    <input type="text" name="city" id="city" class="form-control" required>
	  </div>

	  <div class="form-label-group mb-1">
	    <label for="state">State: </label>
	    <input type="text" name="state" id="state" class="form-control" required>   
	  </div>

	  <div class="form-label-group mb-1">
	    <label for="zip">Zip Code:</label>
	    <input type="text" name="zip" id="zip" class="form-control" required>
	  </div>

	  <button class="btn btn-primary m-3" type="submit">Add Customer</button>
	</form>
      </div>
      
    </div>
</div>
</body>
</html>

