<!DOCTYPE HTML>
<html>
  <head>
    {{template "html_head"}}
    <title>New Customer - Add Customer</title>
    
  </head>
  
  <body style="background-color: #f0f0f0;">
    
    {{template "navbar"}}
    
    <div class="container">
      <div id="page-title" class="text-center mt-4">
	<h1>
        New Customer
	</h1>
      </div>
      
      <div class="row">
	<p>
	This is the add a new customer.
	</p>
      </div>
    </div>
  </body>
</html>