<!DOCTYPE HTML>
<html>
  
  <body style="background-color: #ffe1f4;">
    
    
    <div class="container">
      <div id="page-title" class="text-center mt-4">
	<h1>
	CS372 App
	</h1>
      </div>
      
      <div class="row">
	<p>
	Hello World
	</p>
      </div>
    </div>
  </body>
</html>
