<!DOCTYPE HTML>
<html>
  <head>
     {{template "html_head"}}
    <title>Auto-Form Filler - CS372</title>
  </head>
    
  <body>

    {{template "navbar"}}
    
    <div class="container">
      <div id="page-title" class="text-center mt-4">
        <h1 id="title">
          Auto-Form Filler - Home
        </h1>
      </div>
      
      <div class="row m-3 p-2">
        <p>
          The Auto-Form Filler is a utility used to automatically generate the necessary paperwork when selling automobiles. 
        </p>
        <p>
          Please use the options above to 'Add Auto' and/or 'Add Customer'. To generate and print the appropriate paperwork, use 'View Autos' and select the appropriate auto. 
        </p>
	<img  src='/static/car1.png' id="car" height="320" width="480" style="margin-left:25%">
      </div>

    </div>

  </body>
</html>
