<!DOCTYPE HTML>
<html>
  <head>
    {{template "html_head"}}
    <title>View Automobiles</title>

  </head>
  <script>
    const deleteData = async (vehicleId, customerId ) =>{
      const response = await fetch(`/delete-auto?vehicleId=${vehicleId}&customerId=${customerId}`, {
        method: 'DELETE', // *GET, POST, PUT, DELETE, etc.
        mode: 'cors', // no-cors, *cors, same-origin
        cache: 'no-cache', // *default, no-cache, reload, force-cache, only-if-cached
        credentials: 'same-origin', // include, *same-origin, omit
        headers: {
        'Content-Type': "text/html; charset=UTF-8"
        // 'Content-Type': 'application/x-www-form-urlencoded',
        },
        redirect: 'follow', // manual, *follow, error
        referrerPolicy: 'no-referrer',
        body: null
      }).then(function(response){
	  console.log(response);
	  window.location.href = response.url;
      })

    };
  </script>
  <body>
    
    {{template "navbar"}}
    
    <div class="container">

      <div id="page-title" class="text-center mt-4">
	<h1 id="title">
          View Automobiles & Paperwork
	</h1>
      </div>
      
      <div class="row m-3 p-2">

	<div class="card-columns mx-auto">
	  {{range .}}
	  <div class="card" style="width: 20rem;">
	    <div class="card-header">
	      {{.VIN}}
	    </div>
	    <div class="card-body">
	      <div class="mb-3">
	      {{.Year}} - {{.Make}} {{.Model}}
	      </div>
	      <div class="m-2">
		<a href="/generate-pdf?vehicleId={{.VehicleId}}&customerId={{.CustomerId}}" class="button btn btn-secondary">Paperwork</a>
		<button onclick="deleteData({{.VehicleId}},{{.CustomerId}})",type="button" class="button btn btn-danger" style="margin-left:30%">Delete</button>
	      </div>
	    </div>
	  </div>
	  {{end}}
	  

	</div>
	
  </div>
  </body>
</html>
